@import "./colors.css";

/* body styling */
body {
  font-family: Arial, sans-serif;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* container styling */
.container {
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  width: 850px;
  margin: 20px auto;
}

.container-stratagems {
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: 20px auto;
  gap: 30px;
}

.header-margin {
  margin-top: -100px;
}

/* header styling */
.header {
  /* background-color: var(--black); */
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

/* header blue banner section styling */
.header-blue-banner {
  width: 100%;
  height: 100px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 43.04%,
    49.06% 43.04%,
    47.3% 44.3%,
    45.8% 49.37%,
    44.3% 59.49%,
    42.6% 73.42%,
    41.27% 85.24%,
    39.83% 93.24%,
    38.1% 97.47%,
    36% 100%,
    0% 100%
  );
  background-color: var(--header-blue);
  margin-top: 20px;
}

.header h3 {
  margin: 0;
  font-size: 20px;
  color: var(--white);
  padding-top: 10px;
}

/* stats styling */
.stats {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* stat box styling */
.stat-box {
  border: 1px solid var(--bordedr-gray-color);
  background-color: var(--second-black);
  color: var(--white);
  padding: 5px 10px;
  text-align: center;
  min-width: 30px;
  font-weight: bold;
  border-radius: 5px 0 5px 0;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

/* stat column styling */
.stat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

/* main content styling */
.main-content {
  display: flex;
  gap: 20px;
}

/* left section styling */
.left-section {
  flex: 2;
}

/* right section styling */
.right-section {
  flex: 1;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: var(
    --dark-black-thing-idk
  ); /* Matches container background */
  border: 1px solid var(--border-color); /* Add border to entire table */
  border-radius: 5px; /* Smooth edges for a modern look */
  overflow: hidden; /* Ensures rounded corners look clean */
}

thead th {
  background-color: var(--green); /* Uniform header background color */
  color: var(--white);
  font-weight: bold;
  padding: 10px; /*Increased padding for readability */
  text-align: start;
  border-bottom: 2px solid var(--border-color); /* Clear separation from the body */
}

tbody tr {
  border-bottom: 1px solid var(--row-seperation-color); /* Row separation */
}

tbody tr:nth-child(even) {
  background-color: var(--alternate-row-color); /* Alternating row colors */
}

tbody tr:nth-child(odd) {
  background-color: var(--second-black);
}

/* td styling */
td {
  color: var(--some-gray); /* Text color for better contrast */
  padding: 10px; /* Consistent padding for cells */
  text-align: center; /* Center-aligned text */
  vertical-align: middle; /* Align content in the middle */
}

/* weapons titles styling */
.weapons-titles {
  text-align: left;
  color: var(--white);
  padding: 10px; /* Added padding for spacing */
  background-color: var(--border-color); /* Distinct background for titles */
}

/* Abilities Section styling */
.abilities {
  background-color: var(--second-black);
  padding: 10px;
  padding-top: 5px;
}

/* abilities strong styling */
.abilities strong {
  background-color: var(--green);
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* dotted styling */
.dotted {
  border-top: 1px dotted var(--idk-some-dotted-color);
  margin: 10px 0;
}

/* options container styling */
.options-container {
  margin-bottom: 20px;
}

/* options header styling */
.options-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: var(--green);
  padding: 10px;
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid var(--border-color);
}

/* options list styling */
.options-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 5px 0;
}

/* options list li styling */
.options-list li {
  margin-bottom: 5px;
}

/* Footer Styling */
.footer {
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
  text-align: center;
  margin-top: 20px;
  color: var(--another-gray-thing);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer inner styling */
.footer-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* underlined styling */
.underlined {
  text-decoration: underline dotted;
}

/* save button styling */
.save-button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.save-button:hover {
  background-color: var(--green-hover);
}

/* inverted add row button styling */
.inverted-add-row-btn {
  background-color: var(--border-color);
  border: none;
  color: var(--white);
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.inverted-add-row-btn:hover {
  background-color: var(--alternate-row-color);
}

/* weapon titles inner row styling */
.weapon-titles-inner-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* title row styling */
.title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* disabled button styling */
button:disabled {
  cursor: not-allowed;
}

/* delete button styling */
.delete-row-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--red);
}

/* abilities title row styles */
.abilities-title-row {
  position: relative;
}

/* delete ability btn styling */
.delete-ability-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--red);
  position: absolute;
  right: 5px;
  top: 5px;
}

.header-weapons {
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.weapon-stats-wrapper {
  background-color: #424546;
  padding: 5px 10px;
}

.main-content-weapons {
  padding: 10px;
}

.colored-line {
  border-width: 2px;
  border-style: solid;
  position: relative;
}

.left-section-wrapper {
  margin-top: 38px;
  margin-left: 25px;
  margin-right: -7px;
  z-index: 1;
}

.diamond-shape {
  border: 3px solid;
  width: 45px;
  height: 45px;
  margin: auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  background-color: var(--dark-black-thing-idk);
}

.diamond-shape-for-color {
  width: 45px;
  height: 45px;
  margin: auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.diamond-image {
  transform: rotate(-45deg);
}

.stratagem-header {
  text-transform: uppercase;
  margin-block-end: 0;
}

.header-stratagem {
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.color-green {
  color: var(--stratagem-green);
}

.color-red {
  color: var(--stratagem-red);
}

.color-blue {
  color: var(--stratagem-blue);
}

.bg-green {
  background-color: var(--stratagem-green);
}

.bg-red {
  background-color: var(--stratagem-red);
}

.bg-blue {
  background-color: var(--stratagem-blue);
}

.border-green {
  border-color: var(--stratagem-green);
}

.border-red {
  border-color: var(--stratagem-red);
}

.border-blue {
  border-color: var(--stratagem-blue);
}

.icon-green {
  fill: var(--stratagem-green);
}

.icon-red {
  fill: var(--stratagem-red);
}

.icon-blue {
  fill: var(--stratagem-blue);
}

.diamond-text {
  transform: rotate(-45deg);
  font-size: 1.2em;
}

.margin-top-40 {
  margin-top: 40px;
}

.diamond-color {
  width: 45px;
  height: 45px;
}

.bg-white {
  background-color: var(--white);
}
